.modal-content {
	border-radius: $border-radius;
	border: 2px solid $wht;
	box-shadow: 0 4px 20px rgba(0,0,0,0.15);
	.modal-header {
		background: $blk;
		border-radius: 9px 9px 0px 0px;
		border-bottom: 1px solid #d9d9d9;
		padding: 2rem 2.5rem 1.5rem;
		h3 {
			color: $wht;
			margin: 0px;
		}
		.btn-close {
			color: $wht;
			background:transparent url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath d='M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z'/%3e%3c/svg%3e") center/1em auto no-repeat;
		}
	}
	.modal-body {
		padding: 2rem 2.5rem;
	}
	.modal-footer {
		background: $gray-10;
		justify-content: center;
		border-top: 1px solid #d9d9d9;
		padding: 1.5rem 2.5rem 2rem;
		gap: 1rem;
	}
}
.modal-title {
	line-height: 1.2;
}