<div>
	<h3>Registration is Open!</h3>
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce maximus elementum nisl. Nam fermentum commodo justo in malesuada.</p>
</div>
<div class="btn-wrap">
	<a href="#" class="btn-main btn-secondary">Register Now</a>
</div>