<div class="calendar-wrapper">
  <h4 class="mb-3">December 2025</h4>
  <ol class="calendar">
    
    <li class="day-name">Sun</li>
    <li class="day-name">Mon</li>
    <li class="day-name">Tue</li>
    <li class="day-name">Wed</li>
    <li class="day-name">Thu</li>
    <li class="day-name">Fri</li>
    <li class="day-name">Sat</li>
    <li class="gray">29</li>
    <li class="gray">30</li>
    <li class="first-day">1</li>
    <li>2</li>
    <li>3</li>
    <li><span class="class-outline">4</span></li>
    <li>5</li>
    <li>6</li>
    <li>7</li>
    <li>8</li>
    <li><span class="class-start">9</span></li>
    <li>10</li>
    <li>11</li>
    <li>12</li>
    <li><span class="class-red">13</span></li>
    <li>14</li>
    <li>15</li>
    <li>16</li>
    <li>17</li>
    <li><span class="class-start">18</span></li>
    <li>19</li>
    <li>20</li>
    <li>21</li>
    <li>22</li>
    <li>23</li>
    <li>24</li>
    <li>25</li>
    <li>26</li>
    <li><span class="class-start">27</span></li>
    <li>28</li>
    <li>29</li>
    <li>30</li>
    <li>31</li>
    <li class="gray">1</li>
    <li class="gray">2</li>
  </ol>
  <div class="important-dates">
    <div class="imp-date-wrap">
        <div class="date">
            <p><span class="circle {{ color }}"></span> {{ date }}</p>
        </div>
        <div class="deadline">
            <p><span>{{ deadline }}</span><span>{{ time }}</span></p>
        </div>
    </div>
  </div>
</div>

{# {{ calendar("July", 2025, [
  { day: 4, label: "Registration Closes", time: "Fri 11:59 PM", color: "var(--red)" },
  { day: 7, label: "Course Start", time: "Mon 11:59 PM", color: "var(--green)" },
  { day: 13, label: "Course Drop Deadline", time: "Sun 11:59 PM", color: "var(--red)" },
  { day: 26, label: "FSA Academic Year Closes", time: "Thu 11:59 PM", color: "var(--blue)" }
]) }} #}


{# <div class="calendar">
  <div class="month">      
    <ul>
      <li class="prev">&#10094;</li>
      <li class="next">&#10095;</li>
      <li>
        August<br>
        <span style="font-size:18px">2021</span>
      </li>
    </ul>
  </div>

  <ul class="weekdays">
    <li>S</li>
    <li>M</li>
    <li>T</li>
    <li>W</li>
    <li>T</li>
    <li>F</li>
    <li>S</li>
  </ul>

  <ul class="days">  
    <li>1</li>
    <li>2</li>
    <li>3</li>
    <li>4</li>
    <li>5</li>
    <li>6</li>
    <li>7</li>
    <li>8</li>
    <li>9</li>
    <li><span class="active">10</span></li>
    <li>11</li>
    <li>12</li>
    <li>13</li>
    <li>14</li>
    <li>15</li>
    <li>16</li>
    <li>17</li>
    <li>18</li>
    <li>19</li>
    <li>20</li>
    <li>21</li>
    <li>22</li>
    <li>23</li>
    <li>24</li>
    <li>25</li>
    <li>26</li>
    <li>27</li>
    <li>28</li>
    <li>29</li>
    <li>30</li>
    <li>31</li>
  </ul>
</div> #}