<div class="collapse" id="collapseProfile">
	<div class="card card-body menu">
		<div class="profile-wrap space-between">
		{# {% include "partials/profile.njk" %} #}
			<div class="profile">
				<p class="big-initial">J</p>
			</div>
			<div class="profile-info">
				<p class="mb-0 profile-name"><span>Jorge</span><br><strong>Student ID:</strong> 24768</p>
			</div>
		</div>
	</div>
</div>