<div class="shortcut-wrap">
{# <p>Shortcuts</p> #}
<div class="shortcut-rail">
	<div class="shortcut-item">
		<span><i class="fa-regular fa-chalkboard-user"></i></span>
		<p>My Classroom</p>
	</div>
	<div class="shortcut-item">
		<span><i class="fa-regular fa-book-open"></i></span>
		<p>Apus Library</p>
	</div>
	<div class="shortcut-item">
		<span><i class="fa-regular fa-graduation-cap"></i></span>
		<p>Career Link</p>
	</div>
	<div class="shortcut-item">
		<span><i class="fa-regular fa-school"></i></span>
		<p>Campus Store</p>
	</div>
	<div class="shortcut-item">
		<span><i class="fa-regular fa-book"></i></span>
		<p>Book Store</p>
	</div>
</div>
</div>