<nav class="top-nav">
	{# <a class="navbar-brand" href="/">
		<img src="./images/apu-logo-standard-black.svg" class="img-logo-main">
	</a> #}
	<div class="nav-toggle-wrap-mobile">
      {# <a href="#!" class="menu-toggle"><i class="fa-solid fa-chevron-left"></i></a> #}
      <a class="closebtn" data-bs-toggle="offcanvas" href="#offcanvasExample" role="button" aria-controls="offcanvasExample"><i class="fa-solid fa-bars"></i></a>
    </div>
	<div class="sm-logo-main"> 
	    <a href="index.html" aria-label="American Public University ECampus Home">
	        {# {{ image("logo-apus-global-icon.svg", "", "img-logo-main main-logo") }} #}
	        {% include "partials/apu-logo.njk" %}
	    </a>
    </div>
	<div id="topnav-group" class="search-nav-profile space-between">
		{# <a href="#!" class="menu-toggle"><i class="fas fa-bars"></i></a> #}
		<div class="search-wrap">
			{% include "partials/search.njk" %}
		</div>
		<div class="top-nav-wrap">
			{% include "partials/top-nav.njk" %}
		</div>
		<div class="profile-wrap space-between">
			<p class="mb-0 profile-name"><span>Jorge</span><br>ID: 24768</p>
			<a type="button" data-bs-toggle="collapse" data-bs-target="#collapseProfile" data-bs-parent="topnav-group" aria-expanded="false" aria-controls="collapseProfile" class="profile">
				<p class="big-initial">J</p>
			</a>
		</div>
		<div class="accordion-group">
		{% include "partials/appmenu.njk" %}
		{% include "partials/profile.njk" %}
		</div>
	</div>
</nav>
