$font-apu-alt: "Barlow Semi Condensed", "Helvetica Neue", Arial, sans-serif;
$font-apu: "Barlow", "Helvetica Neue", Arial, sans-serif;

// $font-main: "canada-type-gibson","Gibson","Helvetica Neue",Arial,sans-serif;
$font-main: "Barlow", "Helvetica Neue", Arial, sans-serif;
// font weights: 100,300,400,600,700

// UTILITY COLORS
$red: #E4193B;	//rgb (228,25,59)
$green: #80c342; //rgb (128,195,66)
$orange: #F88A00; //rgb (248,138,0)
$yellow: #D2D203; //rgb (210,210,3)
$blue: #0581c0; //rgb (5,129,192)

$primary: #041E42; // apus navy blue
$primary-alt: #00599a;

$secondary: #05C3DE; // apus aqua
$secondary-alt: #03abc3;

$primary-active: #163c70;
$secondary-active: #31b3c6;

// BRAND COLORS
$amu-gold: #ffc600;
$amu-blue: #00599a;

$apu-blue: #00ffff;
$apu-blue-alt: #B3F5F5;
$apu-blue-active: #00CCCC;

$apu-green: #00ff00;
$apu-green-alt: #B2FFB2;
$apu-green-active: #02C502;

$apu-yellow: #ffff00;
$apu-yellow-alt: #ffffb2;
$apu-yellow-active: #D2D203;

$blk: #000000;
$wht: #ffffff;

$gray-10: #f4f4f4;
$gray-20: #d2d2d2;
$gray-60: #d9d9d9;
$gray-dk: #6d6d6d;

// Root SCSS VARIABLES
:root {
	--primary: $primary;
	--primary-alt: $primary-alt;
	--secondary: $secondary;
	--secondary-alt: $secondary-alt;

	--white: #{$wht};
	--gray-10: #{$gray-10};
	--gray-20: #{$gray-20};
	--gray-60: #{$gray-60};
	--gray-dk: #{$gray-dk};

	--red: #{$red};	
	--green: #{$green}; 
	--orange: #{$orange};
	--yellow: #{$yellow};
	--blue: #{$blue};
}

// SITE VARIABLES
$mainlogoColor: $primary;
$white-box-border: 6px solid $secondary;

$border-radius: 0.4rem;