{% extends "layouts/base.njk" %}

{% block content %}
  <div class="row">
    <div class="shortcut-wrap">
      <div class="shortcut-rail">
        <a href="/academic-forms.html" class="shortcut-item">
          <span><i class="fa-regular fa-file-pen"></i></span>
          <p>Academic Forms</p>
        </a>
        <a href="/financial-forms.html" class="shortcut-item">
          <span><i class="fa-regular fa-file-invoice"></i></span>
          <p>Financial Forms</p>
        </a>
        <a href="/official-documents.html" class="shortcut-item">
          <span><i class="fa-regular fa-file-certificate"></i></span>
          <p>Official Documents</p>
        </a>
        <a href="/student-handbook.html" class="shortcut-item">
          <span><i class="fa-regular fa-book-open"></i></span>
          <p>Student Handbook</p>
        </a>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <div class="white-box mb-5">
        <h1 class="h1 mb-4">Academic Forms</h1>
        <p class="lead mb-4">Access and submit academic forms and requests.</p>

        <div class="row">
          <div class="col-md-6 mb-4">
            <div class="white-box">
              <h3 class="h3 mb-3">Registration Forms</h3>
              <ul>
                <li><a href="#" class="text-primary">Course Registration Form</a></li>
                <li><a href="#" class="text-primary">Add/Drop Form</a></li>
                <li><a href="#" class="text-primary">Late Registration Form</a></li>
                <li><a href="#" class="text-primary">Registration Override Request</a></li>
              </ul>
            </div>
          </div>

          <div class="col-md-6 mb-4">
            <div class="white-box">
              <h3 class="h3 mb-3">Academic Requests</h3>
              <ul>
                <li><a href="#" class="text-primary">Course Withdrawal Form</a></li>
                <li><a href="#" class="text-primary">Leave of Absence Request</a></li>
                <li><a href="#" class="text-primary">Grade Appeal Form</a></li>
                <li><a href="#" class="text-primary">Independent Study Request</a></li>
              </ul>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6 mb-4">
            <div class="white-box">
              <h3 class="h3 mb-3">Degree Forms</h3>
              <ul>
                <li><a href="#" class="text-primary">Graduation Application</a></li>
                <li><a href="#" class="text-primary">Degree Audit Request</a></li>
                <li><a href="#" class="text-primary">Major/Minor Change Form</a></li>
                <li><a href="#" class="text-primary">Dual Degree Request</a></li>
              </ul>
            </div>
          </div>

          <div class="col-md-6 mb-4">
            <div class="white-box">
              <h3 class="h3 mb-3">Other Forms</h3>
              <ul>
                <li><a href="#" class="text-primary">Petition for Waiver</a></li>
                <li><a href="#" class="text-primary">Credit by Examination</a></li>
                <li><a href="#" class="text-primary">Prior Learning Assessment</a></li>
                <li><a href="#" class="text-primary">Course Substitution Request</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
