{% extends "layouts/base.njk" %}

{% block content %}
  <div class="row">
    <div class="shortcut-wrap">
      <div class="shortcut-rail">
        <a href="/alumni-network.html" class="shortcut-item">
          <span><i class="fa-regular fa-user-group"></i></span>
          <p>Alumni Network</p>
        </a>
        <a href="/alumni-events.html" class="shortcut-item">
          <span><i class="fa-regular fa-calendar-check"></i></span>
          <p>Alumni Events</p>
        </a>
        <a href="/alumni-benefits.html" class="shortcut-item">
          <span><i class="fa-regular fa-award"></i></span>
          <p>Alumni Benefits</p>
        </a>
        <a href="/get-involved.html" class="shortcut-item">
          <span><i class="fa-regular fa-handshake"></i></span>
          <p>Get Involved</p>
        </a>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <div class="white-box mb-5">
        <h1 class="h1 mb-4">Alumni Network</h1>
        <p class="lead mb-4">Connect with fellow alumni and expand your professional network.</p>

        <div class="row">
          <div class="col-md-6 mb-4">
            <div class="white-box">
              <h3 class="h3 mb-3">Join the Network</h3>
              <p>Connect with over 50,000 alumni worldwide.</p>
              <ul>
                <li>Create your alumni profile</li>
                <li>Search the alumni directory</li>
                <li>Join regional chapters</li>
                <li>Connect on LinkedIn</li>
              </ul>
              <a href="#" class="btn-main btn-sm">Join Now</a>
            </div>
          </div>

          <div class="col-md-6 mb-4">
            <div class="white-box">
              <h3 class="h3 mb-3">Alumni Directory</h3>
              <p>Find and connect with alumni by:</p>
              <ul>
                <li>Graduation year</li>
                <li>Degree program</li>
                <li>Location</li>
                <li>Industry or profession</li>
              </ul>
              <a href="#" class="btn-main btn-sm">Search Directory</a>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6 mb-4">
            <div class="white-box">
              <h3 class="h3 mb-3">Regional Chapters</h3>
              <p>Join your local alumni chapter for networking and social events.</p>
              <a href="#" class="btn-main btn-sm">Find Your Chapter</a>
            </div>
          </div>

          <div class="col-md-6 mb-4">
            <div class="white-box">
              <h3 class="h3 mb-3">Online Communities</h3>
              <p>Connect with alumni through our online platforms.</p>
              <ul>
                <li><a href="#" class="text-primary">LinkedIn Group</a></li>
                <li><a href="#" class="text-primary">Facebook Group</a></li>
                <li><a href="#" class="text-primary">Alumni Forum</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
