{% extends "layouts/base.njk" %}

{% block content %}
  <div class="row">
    <div class="shortcut-wrap">
      <div class="shortcut-rail">
        <a href="/faq.html" class="shortcut-item">
          <span><i class="fa-regular fa-circle-question"></i></span>
          <p>FAQ</p>
        </a>
        <a href="/technical-support.html" class="shortcut-item">
          <span><i class="fa-regular fa-headset"></i></span>
          <p>Technical Support</p>
        </a>
        <a href="/live-chat.html" class="shortcut-item">
          <span><i class="fa-regular fa-messages"></i></span>
          <p>Live Chat</p>
        </a>
        <a href="/contact-us.html" class="shortcut-item">
          <span><i class="fa-regular fa-envelope"></i></span>
          <p>Contact Us</p>
        </a>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <div class="white-box mb-5">
        <h1 class="h1 mb-4">Contact Us</h1>
        <p class="lead mb-4">Get in touch with the right department for your needs.</p>

        <div class="row">
          <div class="col-md-6 mb-4">
            <div class="white-box">
              <h3 class="h3 mb-3">Student Services</h3>
              <p><strong>General Inquiries:</strong><br>
              Phone: 1-800-555-1234<br>
              Email: studentservices@apus.edu</p>
              <p><strong>Hours:</strong><br>
              Monday - Friday: 8:00 AM - 8:00 PM EST<br>
              Saturday - Sunday: 10:00 AM - 6:00 PM EST</p>
            </div>
          </div>

          <div class="col-md-6 mb-4">
            <div class="white-box">
              <h3 class="h3 mb-3">Technical Support</h3>
              <p><strong>IT Help Desk:</strong><br>
              Phone: 1-800-555-TECH<br>
              Email: techsupport@apus.edu</p>
              <p><strong>Hours:</strong><br>
              Monday - Friday: 8:00 AM - 8:00 PM EST<br>
              Saturday - Sunday: 10:00 AM - 6:00 PM EST</p>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6 mb-4">
            <div class="white-box">
              <h3 class="h3 mb-3">Admissions Office</h3>
              <p><strong>Contact:</strong><br>
              Phone: 1-800-555-5678<br>
              Email: admissions@apus.edu</p>
              <p><strong>Hours:</strong><br>
              Monday - Friday: 9:00 AM - 5:00 PM EST</p>
            </div>
          </div>

          <div class="col-md-6 mb-4">
            <div class="white-box">
              <h3 class="h3 mb-3">Financial Aid Office</h3>
              <p><strong>Contact:</strong><br>
              Phone: 1-800-555-9012<br>
              Email: financialaid@apus.edu</p>
              <p><strong>Hours:</strong><br>
              Monday - Friday: 9:00 AM - 5:00 PM EST</p>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6 mb-4">
            <div class="white-box">
              <h3 class="h3 mb-3">Registrar's Office</h3>
              <p><strong>Contact:</strong><br>
              Phone: 1-800-555-3456<br>
              Email: registrar@apus.edu</p>
              <p><strong>Hours:</strong><br>
              Monday - Friday: 9:00 AM - 5:00 PM EST</p>
            </div>
          </div>

          <div class="col-md-6 mb-4">
            <div class="white-box">
              <h3 class="h3 mb-3">Bursar's Office</h3>
              <p><strong>Contact:</strong><br>
              Phone: 1-800-555-7890<br>
              Email: bursar@apus.edu</p>
              <p><strong>Hours:</strong><br>
              Monday - Friday: 9:00 AM - 5:00 PM EST</p>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-12">
            <div class="white-box">
              <h3 class="h3 mb-3">Mailing Address</h3>
              <p>American Public University System<br>
              111 W. Congress Street<br>
              Charles Town, WV 25414</p>

              <h3 class="h3 mb-3 mt-4">Send Us a Message</h3>
              <p>For general inquiries, please fill out our contact form and we'll get back to you within 1-2 business days.</p>
              <a href="#" class="btn-main btn-sm">Contact Form</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
