{% extends "layouts/base.njk" %}

{% block content %}
  <div class="row">
    <div class="shortcut-wrap">
      <div class="shortcut-rail">
        <a href="/academic-forms.html" class="shortcut-item">
          <span><i class="fa-regular fa-file-pen"></i></span>
          <p>Academic Forms</p>
        </a>
        <a href="/financial-forms.html" class="shortcut-item">
          <span><i class="fa-regular fa-file-invoice"></i></span>
          <p>Financial Forms</p>
        </a>
        <a href="/official-documents.html" class="shortcut-item">
          <span><i class="fa-regular fa-file-certificate"></i></span>
          <p>Official Documents</p>
        </a>
        <a href="/student-handbook.html" class="shortcut-item">
          <span><i class="fa-regular fa-book-open"></i></span>
          <p>Student Handbook</p>
        </a>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <div class="white-box mb-5">
        <h1 class="h1 mb-4">Financial Forms</h1>
        <p class="lead mb-4">Access financial aid and payment-related forms.</p>

        <div class="row">
          <div class="col-md-6 mb-4">
            <div class="white-box">
              <h3 class="h3 mb-3">Financial Aid Forms</h3>
              <ul>
                <li><a href="#" class="text-primary">FAFSA Application</a></li>
                <li><a href="#" class="text-primary">Financial Aid Appeal</a></li>
                <li><a href="#" class="text-primary">Verification Worksheet</a></li>
                <li><a href="#" class="text-primary">Dependency Override Request</a></li>
                <li><a href="#" class="text-primary">Special Circumstances Form</a></li>
              </ul>
            </div>
          </div>

          <div class="col-md-6 mb-4">
            <div class="white-box">
              <h3 class="h3 mb-3">Scholarship Forms</h3>
              <ul>
                <li><a href="#" class="text-primary">General Scholarship Application</a></li>
                <li><a href="#" class="text-primary">Merit Scholarship Application</a></li>
                <li><a href="#" class="text-primary">Need-Based Scholarship Application</a></li>
                <li><a href="#" class="text-primary">Scholarship Renewal Form</a></li>
              </ul>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6 mb-4">
            <div class="white-box">
              <h3 class="h3 mb-3">Payment Forms</h3>
              <ul>
                <li><a href="#" class="text-primary">Payment Plan Enrollment</a></li>
                <li><a href="#" class="text-primary">Direct Deposit Authorization</a></li>
                <li><a href="#" class="text-primary">Tuition Reimbursement Form</a></li>
                <li><a href="#" class="text-primary">Third-Party Billing Authorization</a></li>
              </ul>
            </div>
          </div>

          <div class="col-md-6 mb-4">
            <div class="white-box">
              <h3 class="h3 mb-3">Loan Forms</h3>
              <ul>
                <li><a href="#" class="text-primary">Student Loan Application</a></li>
                <li><a href="#" class="text-primary">Master Promissory Note</a></li>
                <li><a href="#" class="text-primary">Loan Entrance Counseling</a></li>
                <li><a href="#" class="text-primary">Loan Exit Counseling</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
