{% extends "layouts/base.njk" %}

{% block content %}
  <div class="row">
    <div class="shortcut-wrap">
      <div class="shortcut-rail">
        <a href="/alumni-network.html" class="shortcut-item">
          <span><i class="fa-regular fa-user-group"></i></span>
          <p>Alumni Network</p>
        </a>
        <a href="/alumni-events.html" class="shortcut-item">
          <span><i class="fa-regular fa-calendar-check"></i></span>
          <p>Alumni Events</p>
        </a>
        <a href="/alumni-benefits.html" class="shortcut-item">
          <span><i class="fa-regular fa-award"></i></span>
          <p>Alumni Benefits</p>
        </a>
        <a href="/get-involved.html" class="shortcut-item">
          <span><i class="fa-regular fa-handshake"></i></span>
          <p>Get Involved</p>
        </a>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <div class="white-box mb-5">
        <h1 class="h1 mb-4">Get Involved</h1>
        <p class="lead mb-4">Give back to your alma mater and support current students.</p>

        <div class="row">
          <div class="col-md-6 mb-4">
            <div class="white-box">
              <h3 class="h3 mb-3">Mentorship Program</h3>
              <p>Share your experience and guide current students and recent graduates.</p>
              <ul>
                <li>One-on-one mentoring</li>
                <li>Virtual mentoring options</li>
                <li>Career advice and guidance</li>
                <li>Flexible time commitment</li>
              </ul>
              <a href="#" class="btn-main btn-sm">Become a Mentor</a>
            </div>
          </div>

          <div class="col-md-6 mb-4">
            <div class="white-box">
              <h3 class="h3 mb-3">Guest Speaker Opportunities</h3>
              <p>Share your expertise with students through guest lectures and panels.</p>
              <ul>
                <li>Virtual guest lectures</li>
                <li>Industry panels</li>
                <li>Career day presentations</li>
                <li>Webinar series</li>
              </ul>
              <a href="#" class="btn-main btn-sm">Sign Up</a>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6 mb-4">
            <div class="white-box">
              <h3 class="h3 mb-3">Alumni Association Board</h3>
              <p>Join the board and help shape the future of the alumni association.</p>
              <ul>
                <li>Leadership opportunities</li>
                <li>Strategic planning</li>
                <li>Event planning</li>
                <li>Alumni advocacy</li>
              </ul>
              <a href="#" class="btn-main btn-sm">Learn More</a>
            </div>
          </div>

          <div class="col-md-6 mb-4">
            <div class="white-box">
              <h3 class="h3 mb-3">Volunteer Opportunities</h3>
              <p>Support the university through various volunteer activities.</p>
              <ul>
                <li>Student recruitment</li>
                <li>Alumni event planning</li>
                <li>Fundraising campaigns</li>
                <li>Career fair participation</li>
              </ul>
              <a href="#" class="btn-main btn-sm">Find Opportunities</a>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-12">
            <div class="white-box">
              <h3 class="h3 mb-3">Make a Gift</h3>
              <p>Support scholarships, programs, and initiatives that make a difference for current students.</p>
              <a href="#" class="btn-main btn-sm">Make a Donation</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
