{% extends "layouts/base.njk" %}

{% block content %}
  <div class="row">
    <div class="shortcut-wrap">
      <div class="shortcut-rail">
        <a href="/academic-forms.html" class="shortcut-item">
          <span><i class="fa-regular fa-file-pen"></i></span>
          <p>Academic Forms</p>
        </a>
        <a href="/financial-forms.html" class="shortcut-item">
          <span><i class="fa-regular fa-file-invoice"></i></span>
          <p>Financial Forms</p>
        </a>
        <a href="/official-documents.html" class="shortcut-item">
          <span><i class="fa-regular fa-file-certificate"></i></span>
          <p>Official Documents</p>
        </a>
        <a href="/student-handbook.html" class="shortcut-item">
          <span><i class="fa-regular fa-book-open"></i></span>
          <p>Student Handbook</p>
        </a>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <div class="white-box mb-5">
        <h1 class="h1 mb-4">Student Handbook</h1>
        <p class="lead mb-4">Access important policies, procedures, and student resources.</p>

        <div class="row">
          <div class="col-md-8 mb-4">
            <div class="white-box">
              <h3 class="h3 mb-3">Handbook Contents</h3>
              <h4 class="h4">Academic Policies</h4>
              <ul>
                <li>Academic Integrity Policy</li>
                <li>Grading Policies</li>
                <li>Attendance Requirements</li>
                <li>Academic Standing and Probation</li>
                <li>Course Withdrawal Policies</li>
              </ul>

              <h4 class="h4">Student Rights and Responsibilities</h4>
              <ul>
                <li>Student Code of Conduct</li>
                <li>Academic Freedom</li>
                <li>Privacy Rights (FERPA)</li>
                <li>Grievance Procedures</li>
                <li>Disability Accommodations</li>
              </ul>

              <h4 class="h4">Campus Resources</h4>
              <ul>
                <li>Library Services</li>
                <li>Technology Support</li>
                <li>Counseling Services</li>
                <li>Career Services</li>
                <li>Student Organizations</li>
              </ul>
            </div>
          </div>

          <div class="col-md-4 mb-4">
            <div class="white-box">
              <h3 class="h3 mb-3">Download Handbook</h3>
              <p>Download the complete student handbook for offline reference.</p>
              <a href="#" class="btn-main btn-sm mb-3">Download PDF</a>

              <h3 class="h3 mb-3 mt-4">Quick Links</h3>
              <ul>
                <li><a href="#" class="text-primary">Academic Calendar</a></li>
                <li><a href="#" class="text-primary">Course Catalog</a></li>
                <li><a href="#" class="text-primary">Registration Guide</a></li>
                <li><a href="#" class="text-primary">Campus Map</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
