{# <div class="input-group mb-0">
	<input type="text" class="form-control" placeholder="Enter Email" aria-label="Enter Email" aria-describedby="button-addon2">
	<a href="#" class="btn-main btn-apu-primary btn-sm btn-apu-subscribe">Search</a>
</div> #}

<form class="dynamic-search" role="search" method="get" action="#">
	<input type="text" value="" name="s" id="s" placeholder="Enter to Search..." aria-label="Press Enter to Search" />
	<div class="search-icon"></div>
</form>