<div class="white-box-nopad">
  <div class="actions white-box white-box-flatbottom">
    <h3>Do You Need Assistance With Your Pre-Enrollment Process?</h3>
    <p class="mb-sm">Contact your dedicated enrollment advisor today, They are here to support you every step of the way.</p>
    <div class="advisor-wrap">
      <div>
        <p class="text-advisor mb-2"><span>Stephanie Lastname</span><br>
        <em>Admissions Officer</em></p>
      </div>
    </div>
    <div>
      <p class="mb-0"><i class="fa-solid fa-phone apu-blue-active"></i> <a href="tel:1-877-468-6268">1-877-468-6268</a><br>
      <i class="fa-solid fa-envelope apu-blue-active"></i> <a href="mailto:Stephanie.Lastname@apus.edu">Stephanie.Lastname@apus.edu</a><br>
      <i class="fa-solid fa-clock apu-blue-active"></i> Mon-Fri 8am-8pm EST</p>
    </div>
  </div>

  <!-- Questions CTA -->
  <div class="actions white-box primary-flattop mb-5">
    <h4><i class="fa-solid fa-comment"></i> Just Need a Quick Answer?</h4>
    <p class="">
      Our chat team is here to answer any questions you may have as you work through your enrollment requirements.
    </p>
    {{ buttons.button('Chat Now', '#', 'secondary') }}
  </div>
</div>