.alert {
	// padding: 2.0rem 1.5rem;
	// background: $yellow;
	// display: grid;
	// grid-template-columns: auto 200px;
	// align-items: center;
	// position: relative;
	// z-index: 0;
	// margin-bottom: 25px;
	padding: 2.0rem 1.5rem;
	// background: $red;
	background: rgba(228,25,59,0.05) !important;
	border: 2px solid $red;
	border-radius: $border-radius;
	display: grid;
	align-items: center;
	position: relative;
	margin-bottom: 25px;
	p, i {
		color: $red;
	}
}
.alert-alt {
	padding: 2.0rem 1.5rem;
	// background: $red;
	background: rgba(228,25,59,0.05);
	border: 2px solid $red;
	border-radius: $border-radius;
	display: grid;
	align-items: start;
	position: relative;
	margin-bottom: 25px;
}
.alert-exclamation {
	grid-template-columns: 30px 1fr;
	grid-gap: 5px;
	i {
		font-size: 25px;
		color: $red;
	}
}
.alert-required {
	display: flex;
	// grid-template-columns: auto 250px;
    align-items: flex-end;
    justify-content: space-between;
    gap: 12px;
    h3, h4 {
    	margin-bottom: 0px;
    }
}
.alert-blue {
	padding: 2.0rem 1.5rem;
	// background: $red;
	background: rgba(5,129,192,0.05) !important;
	border: 2px solid $blue;
	border-radius: $border-radius;
	display: grid;
	align-items: start;
	position: relative;
	margin-bottom: 25px;
	p, i {
		color: $blue;
	}
}
.alert-disabled {
	background: rgba(0,0,0,0.10);
	border: 2px solid $gray-70 !important;
	i {
		font-size: 25px;
		color: $gray-70 !important;
	}
}
.confirmation {
	background: $apu-blue-alt; 
	border: 2px solid $apu-blue; 
	padding: 2.0rem 2.5rem;
}