<!-- fonts -->
<link rel="stylesheet" href="https://use.typekit.net/yfc2dya.css">

<link rel="preload" href="https://www.apus.edu/assets/fonts/Gibson-Regular-webfont.woff" as="font" crossorigin="anonymous" />
<link rel="preload" href="https://www.apus.edu/assets/fonts/Gibson-SemiBold-webfont.woff" as="font" crossorigin="anonymous" />